__init__.py
__pycache__/
issue_history.xlsx
.env/
.envdsp/
.env
.vscode/
test.db
credentials.json
alembic/__archive__/*
docker-test-db/
appstart_global.sh
gsheets_parser/configs/*
gsheets_parser/parsed-tabs/*
sheets_config.json